@import '../scss/variables.scss';
.like{
    &__count{
        color:$gray;
        font-size: 12px;
        line-height: 12px;
        display: inline-block;
        margin: auto;
        padding-left: 5px;
    }
    &__icon{
        display: flex;
        
        &:hover,.active{
            .like__count{
color:$darkgray
            }
            svg{
            fill:$red;
        }}
       
        fill:$gray;
        svg{
            width: 20px;
            height: 20px;
            fill:$gray;
            @media (max-width:$lg) 
            {
                width: 20px;
            height: 20px;
            }
        }
    }
}